.text-field{
    -fx-prompt-text-fill: lightgray;
    -fx-text-fill: lightgray;
}

.combo-box{
    -fx-prompt-text-fill: lightgray;
    -fx-text-fill: lightgray;
}

.jfx-combo-box .cell:selected{
    -fx-background-color: #222635;
    -fx-text-fill: white;
}

.jfx-combo-box .list-cell{
    -fx-font: 10pt "System";
    -fx-text-fill: white;
}

.jfx-text-area {
    -fx-font-size: 2em;
}

.jfx-text-area *.text {
    -fx-text-alignment: center;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-area {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.list-cell{
    -fx-font: 18pt "System";
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color:  #233143;
}

.list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color:  #27374B;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-background-color: #355977;
    -fx-text-fill: white;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #1E88E5;;
}

.jfx-slider > .thumb {
    -fx-background-color: #1E88E5;
}

.jfx-slider > .colored-track {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

.jfx-slider > .track {
    -fx-background-color: #282d3f;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color:  #222635;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #282d3f;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #27374B;
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}


.scroll-pane {
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color:transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .corner {
    -fx-background-color: #27374B;
}

.jfx-combo-box {
    -fx-font-size: 16px;
}