.text-field
{
    -fx-prompt-text-fill: lightgray;
    -fx-text-fill: lightgray;
}

.combo-box
{
    -fx-prompt-text-fill: lightgray;
    -fx-text-fill: lightgray;
}

.jfx-combo-box .cell:selected
{
    -fx-background-color: Black;
    -fx-text-fill: WHITE;
}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.list-cell{
    -fx-font: 18pt "System";
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color:  #233143;
}

.list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color:  #27374B;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-background-color: #355977;
    -fx-text-fill: white;
}